// out: false

@import "../../../public/less/variables";
@import "../../../public/less/mixins";

[class*="file-"] {
    max-width: 250px;
    width: 250px;
    height: 100%;
    display: flex;
    margin: 10px;

    & input[type="file"] {
        display: none;
    }

    & .field {
        .neumorphism-background;
        .neumorphism-shadow-inset;
        margin-left: -10px;
        border-radius: 0 36px 36px 0;
        max-width: 150px;
        width: 150px;
        .neumorphism-border;
        display: flex;
        justify-content: center;
        align-items: center;

        & div {
            margin-left: 15px;
            margin-right: 5px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: small;
        }
    }
}