// out: false

@import "../../../public/less/variables";
@import "../../../public/less/mixins";

[class*="file-"] {
    max-width: 275px;
    width: 275px;
    height: 100%;
    display: flex;
    margin: 10px;

    & input[type="file"] {
        display: none;
    }

    & .field {
        .neumorphism-background;
        .neumorphism-shadow-inset;
        .neumorphism-border;
        display: flex;
        max-width: 275px;
        width: 275px;

        & div {
            flex: 1;
            text-align: center;
            margin: auto 5px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: small;
        }
    }
}